/.box{.css
/.vscode
/Array.js
/background.html.png
/biry.jpg
/BOX.html
/COURSE CERTIFICATE.pdf
/css.html
/day3.html
/Dhuran copy.webp
/Dhuran.webp
/first-app
/FO1
/font.css
/Font.html
/FOOD.css
/FOOD.html
/Form 2.html
/Form.html
/HEAT ANSWER.txt
/humi.jpg
/icon.png
/IM
/IMA.jpg
/index.html
/index1.html
/jonasblakewood-nature-519884 - Shortcut (2).lnk
/loc icon.png
/loop.js
/media.html
/menu
/mini-api
/movie.html
/node-v24.15.0-x64.msi
/node_modules
/package-lock.json
/package.json
/Pane.jpeg
/rest_back.jpg
/SA.css
/script.js
/script.jss
/student-management.zip
/Style.css
/Style.html
/table.html
/Time.html
/Web color.html
/Web.css
/Web.html
/Welcome.html
/wind.png